{block content}

<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Password</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {if !empty($data)}
            {foreach $data as $row}
                <tr>
                    <td>{$row->id}</td>
                    <td>{$row->email}</td>
                    <td>{$row->name}</td>
                    <td>{$row->password}</td>
                    <td>{$row->role}</td>
                    <td>
                        <a href="{link Homepage:edit $row->id}">Edit</a>
                        <br>
                        <a class="text-danger" href="{link Homepage:delete $row->id}">Delete</a>
                    </td>
                </tr>
            {/foreach}
        {/if}
    </tbody>


</table>