{block content}

{form updateForm}
    <div class="form-group">
        <label for="name">Name</label>
        {input name, class=>'form-control', placeholder => 'Name'}
    </div>
    <div class="form-group">
        {label password /}
        {input password, class=>'form-control', placeholder => 'Password'}
    </div>
    <div class="form-group">
        {label email /}
        {input email, class=>'form-control', placeholder => 'E-mail'}
    </div>
    <div class="form-group">
        {label role /}
        {input role, class=>'form-control'}
    </div>

    {input id}

{input submit, class=>"btn btn-danger"}
{/form}
